<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso</title>
     <!-- BOOSTRAP-->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <body>
     
    </head>
<body>
    <header class="w3-container w3-theme w3-padding-32 w3-center">
        <h1 class="w3-xxxlarge w3-padding-16">Bienvenido a la vinoteca Online </h1>
      </header>
      <p>Ingrese sus datos aqui</p>
    <form action="/login" method="POST">
        <input type="text" name="username" id="">
        <input type="password" name="password" id="">
        <input type="submit" class="btn btn-primary">
    </form>
    <p>Si usted no tiene cuenta registrese en la pagina haciendo clic en el siguiente boton</p>
    <a type="button" class="btn btn-success" href="/registro" >Registrese aqui</a>
</body>
</html>